<div class="container">

  <h1>
    Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
  </h1>

  <form (submit)="addName()" class="form-inline m-b-1">
    <div class="form-group">
      <label class="sr-only" for="newName">Awesome Computer Scientist</label>
      <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>


    <ul class="list-group list-group-flush">
      <li *ngFor="let name of names" class="list-group-item">{{name}}</li>
    </ul>


</div>