<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <a class="navbar-brand hidden-sm-down" [routerLink]="['/']">Project name</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="mainNavBar"
    aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="mainNavBar" [ngbCollapse]="isCollapsed" (click)="isCollapsed=true">    
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/']">HOME</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/about']">ABOUT</a></li>
    </ul>
  </div>
</nav>
